

/*Body*/

* {
   box-sizing: border-box;
   margin: 0;
}

body {
   background: #0079bf;
}

header {
   display: inline-flex;
   background-color: #0c6d9e;
   font-family: "Open Sans", sans-serif;
   position: fixed;
   top: 0;
   width: 100%;
   height: 40px;
}



.nav {
  display: inline-block;
  width: 30%;
}

.logo {
  width: 10%;
}

.trello {
  display: inline-block;
  float: left;
  width: 30%;

}

.trello > img {
  width: 7%;
  margin: auto;

}

.right {
  background-color: white;
  display: inline-block;
  width: 30%;
}

a > img {
  border-radius: 50%;
  max-height: 20%;
  position: relative;
  top: 1em;
  width: 20%;
}

.hide {
  display: none;
}

 .form {
   margin-top: 100px;
 }
